.test {
  @media (max-width: 1050px) {
    li {
      float: unset !important;
      // display: none !important;
    }
    ul {
    }
  }
  @media (min-width: 1050px) {
    button {
      display: none;
    }
  }
}

.menu {
  @media (max-width: 1050px) {
    ul, li {
      display: none !important;
    }
  }
}

.menuMobile {
  @media (max-width: 1050px) {
    button {
      display: none;
    }
  }
}
