.root {
    text-align: center;
    flex-direction: column;
    display: flex;
}

.body {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}


/* List user */

.viewListUser {
    overflow-y: scroll;
    max-height: 90vh;
    padding-top: 10px;
    padding-bottom: 10px;
}

.viewListUser::-webkit-scrollbar-track {
    padding: 2px 0;
    background-color: #e8e8e8;
}

.viewListUser::-webkit-scrollbar {
    width: 6px;
}

.viewListUser::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #203152;
}

.ItemNotFocused {
    border: none;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    width: 330px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.ItemFocused {
    border: none;
    display: flex;
    flex-direction: row;
    background-color: #e8e8e8;
    width: 330px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.viewAvatarItem {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
}

.viewContentItem {
    flex-direction: column;
    display: flex;
    flex: 1;
    margin-left: 15px;
    color: #203152;
    word-wrap: break-word;
}

.textItem {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 240px;
    text-align: left;
    font-size: 14px;
}

.viewMessage {
    display: flex;
    flex: 1;
    max-height: 90vh;
}
