.searchBox {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  & input {
    width: 50%;
    min-height: 50px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid lightgray;
    &:focus {
      border-bottom: 2px solid black;
      outline: none;
    }
  }
  & button {
    display: none;
  }
}

.hits {
  & ul {
    display: flex;
    flex-wrap: wrap;
    & li {
      list-style-type: none;
    }
  }
  & .hit {
    margin: 20px;
    padding: 15px;
  }
}

.restaurants {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 10px;
}
